/*
COLORS
*/
// $color-primary-light: #7ed56f;
// $color-primary: #55c57a;
// $color-primary-dark: #28b485;

// $color-primary-light: #2998ff;
// $color-primary: #436efa;
// $color-primary-dark: #5643fa;

$color-primary-light: #ffb900;
$color-primary: #ff7730;
$color-primary-dark: #974011;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

$color-secondary-light: #2998ff;
$color-secondary-dark: #5643fa;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-invalid: red;

$color-grey-dark: #eee;
$color-grey-dark-2: #333;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #974011;
$color-grey-light-1: #333;
$color-grey-light-2: #eee;

/*
GRID
*/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

/*
FONT SIZE
*/
$default-font-size: 1.6rem;
