.row {
    // if the viewport is smaller than this, 100% of the space is filled
    max-width: $grid-width;
    //center block elements inside. Auto: browser automatically figures out left and right margin
    margin: 0 auto;

    /*
        we select everything except the last-child!
    */
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(tab-port) {
        max-width: 60rem;
        padding: 0 3rem;
    }

    @include clearfix;

    //select all elements in which all the class attributes start with 'col-'
    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            //to be sure that the down width are overwritten
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        // calc function allows us to mix units!
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(
            (2 * calc((100% - 2 * #{$gutter-horizontal}) / 3)) + #{$gutter-horizontal}
        );
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(
            (2 * calc(100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
        );
    }

    .col-3-of-4 {
        width: calc(
            (3 * calc(100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
        );
    }
}
