.popup {
    &__background {
        height: 100vh;
        width: 100%;
        color: rgba($color-black, 0.4);
        position: fixed;
        z-index: 1000;
    }

    &__content {

        width: 200rem;
        height: 40rem;

        background-color: $color-white;
    }
}
